name: Format Code
on:
  pull_request:
    branches:
      - main
jobs:
  format-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install
      - name: Format code with Prettier
        run: npm run format
      - name: Remove console logs
        run: |
          find src \( -name "*.js" -o -name "*.jsx" -o -name "*.ts" -o -name "*.tsx" \) -exec sed -i '/console.log/d' {} +
